<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="errors-explanation" class="alert">
      <strong><%=pluralize(@user.errors.count, "error") %></strong>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><strong>%= msg %></strong>
        <% end %>
      </ul>
    </div>
  <% end %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.text_field :email %>
        </div>
        <div class="field">
          <%= f.label :pasword %><br />
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation %>
        </div>
        <div class="actions">
          <%= f.submit :class => "btn" %>
        </div>
      <% end %>

