<%= div_for post do %>
  <div class="title">
    <h4><%= link_to post.title, post %></h4>
  </div>
  <div class="author">
    <h4><small>Written by: <%= post.author %> at <%= post.created_at %></small></h4>
  </div>
  <div class="post-content">
    <%= simple_format post.content %>
  </div>
  <% if post.owned_by?(current_user) %>
  <div class="actions">
    <i class="icon-pencil"></i> <%= link_to 'Edit', edit_post_path(post) %> |
    <i class="icon-trash"></i> <%= link_to 'Delete', post, :method => :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>
  <br />
<% end %>

