<p class="text-success" id="notice"><%= notice %></p>

<div class="actions">
  <% if @post.owned_by?(current_user) %>
    <div class='btn-group'>
      <button class='btn'><%= link_to 'Edit', edit_post_path(@post) %></button>
      <button class="btn"><%= link_to 'Delete', @post, :method => 'delete', data: { confirm: 'Are you sure?' } %></button>
      <button class="btn"><%= link_to 'Revisions', post_revisions_path(@post) %></button>
    </div>
    <% end %>
</div>


<h3><%= @post.title %></h3>

<%= simple_format @post.content %>

<p>
  <b>Tags:</b>
  <%= join_tags(@post) %>
</p>

<h4>Comments</h3>
<%= render @post.comments %>

<h4><small>Add a comment:</small></h4>
<%= render "comments/form" %>
<br />


