<!DOCTYPE html>
<html>
<head>
  <title>Railsdocsblog</title>
  <%= stylesheet_link_tag "bootstrap/css/bootstrap.css" %>
  <%= stylesheet_link_tag "styles.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap/js/bootstrap.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="site-title">
      <h1><%= link_to "Blog", posts_path %></h1>
    </div>


  <div class="user-menu">
    <% if logged_in? %>

      <div class="btn-group user-menu-links">
      <button class="btn"><i class="icon-pencil"></i> <%= link_to 'New post', new_post_path %></button>
        <button class="btn"><i class="icon-user"></i> <%= current_user.email %></button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to 'Edit password', edit_user_path(current_user) %></li>
          <li><%= link_to 'Log out', logout_path %></li>
        </ul>
      </div>
    </div>
      <% else %>

      <div class="action-buttons btn-group">
        <button class="btn"><%= link_to 'Log In', login_path %></button>
        <button class="btn"><%= link_to 'Create account', new_user_path %></button>
      <% end %>
    </div>
  </div>

  <div class="main-content">
      <%= yield %>
    </div>

</body>
</html>
